.home__container {
	padding-top: 100px;
}

.cards-container {
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.banner-container img {
	width: 100%;
	max-height: 600px;
	object-fit: cover;
}
