<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		/>
	</div>
	<div class="navigation_options">
		<a
			class="navigation_option"
			routerLinkActive="active"
			routerLink="/"
			[routerLinkActiveOptions]="{ exact: true }"
		>
			Novidades
		</a>
		<a class="navigation_option"> Coleções </a>
		<a class="navigation_option" routerLinkActive="active" routerLink="deals">
			Ofertas
		</a>
		<a class="navigation_option">PS5</a>
		<a class="navigation_option">Assinaturas</a>
		<a class="navigation_option">Navegar</a>
	</div>
</div>
