.menu-bar__container {
	display: flex;
	flex-direction: row;
	position: fixed;
	align-items: center;
	z-index: 10;
	background-color: #ffffff;
	width: 100%;
	padding: 16px;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
	justify-content: center;
}

.menu-bar__logo {
	position: absolute;
	left: 16px;
}

.navigation_options {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation_option {
	margin: 0px 2px;
	padding: 4px 10px;
	font-family: SST, helvetica, arial, sans-serif;
	font-weight: bold;
	border-radius: 5000px;
}

.navigation_option:hover {
	cursor: pointer;
	background-color: #ebeef0;
}

.active {
	background-color: #ebeef0;
	border: solid #004c8a 2.5px;
}

a {
	text-decoration: none;
	color: black;
}
